* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.hero {
    text-align: center;
    padding: 40px;
    background: white;
}

#searchInput {
    padding: 10px;
    width: 60%;
    margin-top: 15px;
}

/* Layout */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.posts {
    flex: 3;
}

.post {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.like-btn {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

.sidebar {
    flex: 1;
    background: white;
    padding: 20px;
}

.tag {
    display: inline-block;
    background: lightgray;
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}

.tag:hover {
    background: black;
    color: white;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}
